@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:var(--bg-primary);
    color:var(--text-primary);
    font-family:var(--font-body);
    overflow-x:hidden;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
    margin:0;
    padding:0;
}

img{
    max-width:100%;
    display:block;
}

button{
    border:none;
    outline:none;
}

.ml-page{
    min-height:100vh;
    overflow-x:hidden;
}