:root {

    --bg-primary: #000a16;
    --bg-secondary: #0a1628;
    --bg-card: #08162d;
    --bg-card-hover: #112440;

    --accent: #00c8f0;
    --accent-dim: #007fa0;
    --accent-glow: rgba(0,200,240,0.15);

    --text-primary: #ffffff;
    --text-secondary: #8ba3bc;
    --text-muted: #bebdbd;
    --text-gray: #ababab;
    --text-white: #ffffff;

    --border: rgba(0,200,240,0.12);
    --border-bright: rgba(0,200,240,0.35);

    --font-display: "Inter", sans-serif;
    --font-body: 'DM Sans', sans-serif;
}